
run = "cd backend && python manage.py runserver 0.0.0.0:8000 & cd frontend && npm start"
entrypoint = "README.md"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = "cd backend && python manage.py runserver 0.0.0.0:8000"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[[ports]]
localPort = 3003
externalPort = 3003

[[ports]]
localPort = 3004
externalPort = 3000

[workflows]
runButton = "Full Stack"

[[workflows.workflow]]
name = "Backend"
author = 39136939

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow]]
name = "Frontend"
author = 39136939

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm start"

[[workflows.workflow]]
name = "Full Stack"
author = 39136939

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py runserver 0.0.0.0:8000 & cd frontend && npm start"
