
run = "cd backend && python manage.py runserver 0.0.0.0:8000 & cd frontend && npm start"
entrypoint = "README.md"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = "cd backend && python manage.py runserver 0.0.0.0:8000"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
